
body {
	background-image: url(saper_defuse.gif);
	background-repeat: no-repeat;
	background-size: 100%;
}


.myBtn {
	background-color: darkgray;
	color: transparent; 
	width: 30px;
	height: 30px;
}

#saper {
	margin: auto;
}

#title {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
}

#reload {
	padding-top: 10px;
	text-align: center;
}